* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $text-size;
}

body {
    font-family: $font-family;
    text-align: center;
}

a {
    text-decoration: none;
}