$font-family: "Open Sans", serif, sans-serif;
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(0, 0, 0, 1);
$primary-background: rgba(255, 255, 255, 1);
$second-background: rgba(240, 240, 240, 1);
$text-size: 16px;
